.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  background-color: var(--background-color)
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  object-fit: cover;
}

.cards.snapshot-featured > ul {
  grid-template-columns: 1fr;
}

.cards.snapshot-featured > ul > li {
  background-color: var(--c-putty-tan);
  padding: 3rem;
}

.cards.cards.snapshot-featured h2 {
  font-family: var(--cursive-font-family);
  font-size: 2rem;
  margin: 2rem 0 1.5rem;
}

.cards.cards.snapshot-featured p:not(.button-container) {
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 2.5rem;
}

.cards.cards.snapshot-featured .button-container {
  margin: 0;
}

.cards.cards.snapshot-featured .button-container a {
  margin: 0;
  border-color: var(--text-color);
  color: var(--text-color);
}

.cards.cards.snapshot-featured .button-container a:hover {
  color: white;
}
