.story-template .small-text {
  text-align: center;
}

.story-template .divider-wrapper + .small-text-wrapper .small-text {
  margin: 2em 0 0;
}

.story-template .small-text small {
  font-size: var(--body-font-size-s);
}