footer {
  padding: 2rem 0;
  background-color: var(--c-dark-grey);
  color: var(--footer-font-color);
  font-size: var(--body-font-size-s);
}

footer .footer p {
  margin: 0;
}

footer .footer a {
  color: var(--c-solitude-white);
}

.footer ul {
  list-style-type: none;
}

/* main footer section that contains the different subsections */
footer > div > div {
  display: grid;
  grid-template-columns: 60% 25%;
  column-gap: 15%;
  padding: 16px;
}

/* section 1: text content */
footer > div > div > div:nth-child(1) {
  grid-column: 1/3;
}

footer > div > div > div:nth-child(1) > p:first-child {
  font-size: var(--body-font-size-m);
  margin: .5rem 2rem 3rem 0;
}

footer > div > div > div:nth-child(1) > p:last-child {
  font-size: var(--body-font-size-xs);
  margin: 0 0 4rem;
}

footer .external-links {
  grid-column: 1/3;
}

footer .external-links ul {
  margin: 1rem 0 4rem;
  border-top: 1px solid var(--c-light-grey);
  font-size: var(--body-font-size-xxs);
  text-transform: uppercase;
  padding-top: 64px;
  padding-inline-start: 0;
}

footer .social-links li {
  padding: 1rem;
}

footer .external-links li:not(:last-child) {
  padding-bottom: .75rem;
}

footer .external-links a {
  text-decoration: none;
  color: var(--footer-font-color);
  letter-spacing: .125rem;
}

footer .social-links > ul {
  display: inline-flex;
  padding-inline-start: 0;
  margin: 0;
}

footer .social-links li:first-child {
  padding-left: 0;
}

footer .logo-container img {
  height: 4rem;
  width: 4rem;
  float: right;
}

@media (min-width: 768px) {
  footer {
    padding: 4rem 0 3rem;
  }

  footer > div > div > div:nth-child(1) {
    grid-column: 1/2;
  }

  footer .external-links {
    grid-column: 2/3;
  }

  footer .external-links ul {
    border-left: 1px solid var(--c-light-grey);
    border-top: none;
    margin-left: 40px;
    padding-top: 0;
    padding-inline-start: 40px;
  }
}
