@font-face {
  font-family: "Mazda Type";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MazdaTypeTT-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Mazda Type";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/MazdaTypeTT-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Quickbrush;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/font-fe9ddacd80bca04bc9b8fdb3e1c92106.woff2") format("woff2");
}